
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-weight: normal;
    font-style: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('SEGA.TTF');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #04acc0;
}